.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbarItems{
    /* background: linear-gradient(90deg, rgb(110,94,254) 0%, rgba(73,63,252,100%)); */
    background-color: #222222;
    /* background-color: red; */
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
}
.wrapper{
    background-color: black;
    width: 100%;
}

