*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header{
  
    /* background-color: #222222; */
    background-color: black;
    height: 110%;
    justify-content: center;
    align-items: center; 
    padding: 0 10% 20px 10%;
}
.title__box{
  
}
.profile__picture{
    padding-top: 20px;
   
}
.profile__picture>img{
    height: 250px;
    border-radius: 100px;
    border: 10px solid rgb(95, 94, 94);
}

.intro{
    color: white;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 40px;
    text-align: center;
    
}
.short__description{
 color:rgb(199, 183, 183);
 font-weight: 400;
 font-size: 17px;
 text-align: left;
 line-height: 30px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.intro>span{
    color:#FFCB0A ;
    font-size: 20px;
    font-weight: bold;   
}
.title{
    color: white;  
}
.title>p{
    font-size: 18px;
    letter-spacing: 2px;
    color: gray;
    font-weight: 200;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.buttons{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 30px;

  
  
}
.buttons>button{
  display: block;
  padding: 7px 20px;
  text-transform: capitalize;
  font-size: 17px;
  color:white;
  border-radius: 20px;
  margin: 10px 0px;
  text-align: center;
  background-color: #2c2a2a;



}
.buttons > .hire__me{
   background-color: transparent; 
  border: 2px solid white;
  margin-left: 10px;
  cursor: pointer;
  color:#d6a063;

}
.buttons > .get__resume{
    color: white;
    border: 2px solid #d6a063 ;
    cursor: pointer;
  
}


@media only screen and (min-width: 768px) {
  
    .profile__picture>img{
        height: 250px;
    }
    .short__description{
        
        text-align: left;
    }
    .header{
        height: 80vh;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
    }
    .title__box{
        display: flex;
        flex-direction: column;
    
    }
    .profile__picture{
        flex: 0.5;
    }
    .profile__picture>img{
        height: 300px;
    }
    
    .intro{
        text-align: left;
       
        
    }


    .title>p{
        text-align: left;
        font-weight: 100;
    }
    .buttons{
    display: flex;
    flex-direction: row;  
    }
    .buttons>button{
      margin: 10px 5px;
    
    
    }
    .buttons > .hire__me{
      margin-left: 20px;
    
    }
    .summary__container{
        flex: 0.5;
        margin-left: 20px;
    }
   
    
}


@media only screen and (min-width: 1000px) {
    .header{
        height: 80vh;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
    }
    .title__box{
        display: flex;
        flex-direction: column;
    
    }
    .short__description{
        
        text-align: left;
    }
  
    .profile__picture{
        flex: 0.5;
    }
    .profile__picture>img{
        height: 350px;
    }
    
    .intro{
        text-align: left;
       
        
    }


    .title>p{
        text-align: left;
        font-weight: 100;
    }
    .buttons{
    display: flex;
    flex-direction: row;  
    }
    .buttons>button{
      margin: 10px 5px;
    
    
    }
    .buttons > .hire__me{
      margin-left: 20px;
    
    }
    .summary__container{
        flex: 0.5;
        margin-left: 20px;
    }
    
}


@media only screen and (max-width: 800px) {
   
    .short__description{
        
        text-align: center;
    }
    .profile__picture{
        display: flex;
        justify-content: center;
    }
    
    
}