*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.short__bio{
    padding:0px 5%;
    padding-top: 80px;
    padding-bottom: 50px;
    height: 100%;
    padding-right: 10px;

}
.bio__title {
    text-align: left;
    text-transform: capitalize;
    font-weight: 900;
    line-height: 40px;
    /* font-family: sans-serif; */
    letter-spacing: 1px;
    color:white;
    font-size: 25px;
    font-family: ;
    font-weight: 1000;
    margin-bottom: 30px;
}
.bio__description{
    text-align: justify;
    font-weight: 400;
    margin-top: 0;
    font-size: 12px;
    line-height: 16px;
    font-family: Verdana, sans-serif;


}
.about{
    color:#DAB489;
    /* line-height: 40px; */
    font-size: 16px;
    text-align: center;
}

.bio__description:before{
    content: "";
    width: 8%;
    border-bottom: solid 3px #DAB489;
    position: absolute;
    left: 5%;
    /* margin-top: -20px; */

}


.socialIcon__box{
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-top: 20px;
    
}

.socialIcon__box >a > .MuiSvgIcon-root{
    font-size: 22px;
    color:white;
    
}
@media only screen and (min-width: 320px) {
    .bio__description{
        text-align: left;
        font-size:16px;
        color:#C7B7B7;
        line-height:40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
}
@media only screen and (min-width: 768px) {
    .bio__description{
        text-align: left;
        font-size:20px;
        color:grey;
        line-height:40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
}

@media only screen and (min-width: 1000px) {
    .short__bio{
        height: 100%;
        max-width: 50%;
        flex: 0.5;
    
    }
    .bio__title {
        text-align: left;
        text-transform: capitalize;
        font-weight: 900;
        line-height: 40px;
        /* font-family: sans-serif; */
        letter-spacing: 1px;
        color:white;
        font-size: 25px;
        font-family: ;
        font-weight: 1000;
        margin-bottom: 30px;
    }
    .bio__description{
        text-align: left;
        font-size:16px;
        color:#d8d1d1;
       
        line-height:40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .about{
        color:#DAB489;
        /* line-height: 40px; */
        font-size: 16px;
        text-align: center;
    }
    
    .bio__description:before{
        content: "";
        width: 8%;
        border-bottom: solid 3px #DAB489;
        position: absolute;
        left: ;
        margin-top: -20px;
    
    }
    
    
    .socialIcon__box{
        display: flex;
        justify-content: space-between;
        width: 120px;
        margin-top: 20px;
        
    }
    
    .socialIcon__box >a > .MuiSvgIcon-root{
        font-size: 22px;
        color:white;
        
    }
}
